*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Tilt Neon', sans-serif;
}

body{
    background-color: chocolate;
}

h4{
    font-weight: 100;
    font-size:15px ;
}

.body2{
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    line-height: 2;
    width: 25%;
    margin: 5rem auto 0;
    /* position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    /* gap: 20px; */
    background-color: #fff;
}

.todo-input{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

 input{
    padding: 5px;
    width: 100%;
    box-shadow: grey;
    /* margin-right: 15px; */
    /* border: solid #000 1px; */
}

.bodyA, .bodyB, .bodyC, .bodyD{
    background-color: beige;
    margin: 10px 0;
    padding: 3px;
}

.bodyB, .bodyE{
    display: flex;
    justify-content:space-between ;
    gap: 25px;
}

button{
    background-color: blueviolet;
    color: #fff;
    font-size: 12px;
    padding: 0 7px;
    border: none;
}

 .bodyB{
    display: flex;
    padding: 5px;
}

.ri-delete-bin-7-fill{
    font-size: 19px;
    background-color: red;
    color: white;
    padding: 0rem 0.5rem ;
}

.ri-add-box-fill{
    font-size: 35px;
}
