*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Tilt Neon', sans-serif;
}

body{
    background-color: chocolate;
}

h4{
    font-weight: 100;
    font-size:15px ;
}

.body2{
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    padding: 15px;
    line-height: 2;
    width: 35%;
    margin: 5rem auto 0;
    /* position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    /* gap: 20px; */
    background-color: #fff;
}

.todo-input{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.error{
    text-align: center !important;
    background-color: red;
    color: #fff;
}


 input{
    padding: 5px;
    width: 100%;
    box-shadow: grey;
    /* margin-right: 15px; */
    /* border: solid #000 1px; */
}

.bodyA, .bodyB, .bodyC, .bodyD{
    background-color: beige;
    margin: 10px 0;
    padding: 3px;
}

.bodyB, .bodyE{
    display: flex;
    align-items: center;
    justify-content:space-between;
    gap: 25px;
}

button{
    background-color: blueviolet;
    color: #fff;
    font-size: 12px;
    padding: 0 7px;
    border: none;
    cursor: pointer;
}

 .bodyB{
    display: flex;
    padding: 5px;
}

.ri-delete-bin-7-fill{
    font-size: 19px;
    background-color: red;
    color: white;
    padding: 0rem 0.5rem ;
    cursor: pointer;
}

.ri-add-box-fill{
    font-size: 35px;
    cursor: pointer;
}

.todoContainer{
    background-color: red;
}

@media screen and (max-width:992px) {
    .body2{
        width: 35%;
    } 

    .ri-add-box-fill{
        font-size: 40px;
    }

    .bodyB, .bodyE{
        gap: 2px;
    }
}

@media screen and (max-width:768px) {
    .body2{
        width: 40%;
        margin: 8rem auto 0;
    }

    h4{
        font-size: 13px;
    }

    button{
        font-size: 11px;
    }
}

@media screen and (max-width:578px) {
    .body2{
        width: 50%;
        padding: 5px;
    } 

    h3{
        font-size: 1.20em;
    }

    .bodyB, .bodyE{
        margin: 5px 0;
    }
}

@media screen and (max-width:480px) {

    .body2{
        width: 60%;
    }

    input{
        font-size: 13px;
    }

    .ri-add-box-fill{
        font-size: 35px;
    }

    h4{
        font-size: 12px;
    }  
    .ri-delete-bin-7-fill{
        font-size: 17px;
    }

}

@media screen and (max-width:375px) {
    .body2{
        width: 70%;
    } 

    input{
        font-size:12px ;
    }


.ri-add-box-fill{
    font-size: 36px;
}



button{
    padding: 0.3;
    font-size: 9px;
}

h4{
    font-size: 10px;
}

}